.body_bg {
    display: flex;
    flex-wrap: wrap;
}

.wrapper_list {
    border: 1px solid black;
    text-align: center;
    border-radius: 3px;
    margin: 20px;
    background-color: white;
    width: 300px;
    height: 200px;
    color: black;


    .ListUser_Name {
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        margin: 15px;
    }

    .ListUser_Age {
        font-size: large;

        margin-left: auto;
        margin-right: auto;
        margin: 15px;
    }

    .ListUser_Address {
        font-size: large;
        margin-left: auto;
        margin-right: auto;
        margin: 15px;
    }

    .ListUser_Post {
        font-size: x-large;
        margin-left: auto;
        margin-right: auto;
        margin: 15px;
    }
}