.wrapper_card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #000000;
    margin: 10px;
  }

  .wrapper_text {
    background-color: #127E38;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .artist {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  
  .album {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  
  .image {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  